body {
  background-color: dodgerblue;
}
h1 {
  color: white;font-family:verdana;
}
p {
  color: white;font-family:verdana;
}
h1 {
  color: white;font-family:verdana;
}
h2 {
  color: white;font-family:verdana;
}
h3 {
  color: white;font-family:verdana;
}
h4 {
  color: white;font-family:verdana;
}
h5 {
  color: white;font-family:verdana;
}
h6 {
  color: white;font-family:verdana;
}
b {
  color: white;font-family:verdana;
}
p {
  color: white;font-family:verdana;
}
i {
  color: white;font-family:verdana;
}
em {
  color: white;font-family:verdana;
}
small {
  color: white;font-family:verdana;
}
sub {
  color: white;font-family:verdana;
}
sup {
  color: white;font-family:verdana;
}
